body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: black;
  color: #f2f2f2;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon, #navlogo {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  #navlogo{
    position: absolute;
    right: 35%;
    top: 0;
    background-color: black;
    color: white
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 6px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
#navlogo{
        text-decoration: line-through;
        text-transform: uppercase;
        font-size: 100%;
        font-weight: bold;
        float: right
    }
#discount10{
  text-align: center;
  text-transform: uppercase
}
    /* icon to hide navbar on small screens*/
    .topnav .icon{
    padding: 0.5px 5px;
    }

    /*navbar above. content below*/

    /*footer links*/
    .footer {
      position: static;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #333;
      text-align: center;
   }
    ul#footerlist li, img{
      display:inline;
      max-width: 30px;
      padding-right: 10px;
  }
  ul#footerlist .ftext{
      color: #f2f2f2;
      text-decoration: unset;
  }


  